body {
  height: 100vh;
  margin: 0; /* Removes default margin */
  overflow-x: hidden;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  height: 100vh;
  max-width: 968px;
  margin: auto;
}

#banner {
  display: flex;
  background-color: #222222;
  width: 100%;
  min-width: 320px;
}

#bannerText {
  color: #f9f9f9;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 0 7px 0;
  flex-grow: 1;
  text-align: center;
}

#bannerButton {
  display: flex;
  align-items: center;
  background-color: #969696;
  color: #f9f9f9;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  cursor: pointer;
}

#divider1,
#divider2 {
  width: 100%;
  height: 20px;
  min-height: 20px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  width: 100%;
  height: fit-content;
}

#rightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  gap: 20px; /* Adds 20px of space between the elements */
}

#menu {
  display: flex;
  background-color: #222222;
  width: 100%;
}

#bundles {
  font-size: 14px;
  color: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px 0 14px 27px;
}

#mainImage {
  width: 100%;
  height: 100%;
}

#divider3,
#divider4 {
  width: 100%;
  height: 45px;
  min-height: 45px;
}

#shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: fit-content;
  min-width: 320px;
}

#shopSugestionOne {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}
#shopSugestionTwo {
  white-space: nowrap;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0 10px 0;
}
#shopButton {
  background-color: #f9f9f9;
  color: #969696;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 45px;
  width: fit-content;
  border: 3px solid #969696;
}

#productContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  width: 100%;
  height: fit-content;
  gap: 10px;
  min-width: 320px;
}

#product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  width: 50%;
  height: fit-content;
}

#productImage {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

#productImage:hover {
  transform: scale(1.1);
}

#productDescription {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
#productPrice {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  width: fit-content;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 3px solid #969696;
  border-right: none;
  padding: 5px;
  height: 18px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  background-color: #f9f9f9;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border: 3px solid #969696;
  border-left: none;
  background: #f9f9f9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

#searchImg {
  width: 20px;
  height: 20px;
}

#userContainer {
  display: flex;
  gap: 20px;
}

#loginContainer,
#registerContainer {
  display: flex;
  align-items: center;
  gap: 5px; /* Adds 20px of space between the elements */
}

#login,
#signup {
  max-width: fit-content;
  white-space: nowrap;
}

#hamburgerMenu {
  display: none;
}

@media (max-width: 768px) {
  #header {
    flex-direction: column; /* Changes layout to row at 768px width */
    align-items: center;
  }

  #leftContainer {
    margin-bottom: 10px;
  }

  #leftContainer,
  #rightContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #menu {
    justify-content: center;
    align-items: center;
  }

  #menu.active {
    left: 0; /* Move into view */
  }

  #bundles {
    margin: 15px 15px 15px 15px;
  }

  .search {
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  #header {
    flex-direction: column; /* Changes layout to row at 768px width */
    align-items: center;
  }

  #leftContainer {
    margin-bottom: 10px;
  }

  #leftContainer,
  #rightContainer {
    width: 100%;
    display: flex;
    flex-direction: column; /* Changes layout to row at 768px width */
    justify-content: center; /* Centers the elements horizontally */
    align-items: center; /* Centers the elements vertically */
    gap: 10px;
  }

  #rightContainer {
    margin: 0;
    padding: 0;
    gap: 10px;
  }

  #userContainer {
    display: none;
  }

  #linkContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
  }

  .search {
    order: 2;
    width: 90%;
    min-width: 320px;
    margin: 0;
  }

  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    position: absolute;
    min-width: 140px;
    min-height: 100px;
    left: -100%;
    top: 155px;
    gap: 10px;
    width: fit-content;
    transition: left 0.5s ease; /* Animate the left property */
  }

  #menu.active {
    left: 0; /* Move into view */
  }

  #bundles {
    font-size: 14px;
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 20px;
  }

  #hamburgerMenu {
    display: flex;
    margin-left: 15px;
    cursor: pointer;
  }

  #cartContainer {
    margin-right: 15px;
  }

  #productContainer {
    flex-direction: column;
  }

  #product {
    width: 75%;
  }

  #productDescription {
    margin-top: 10px;
  }

  #productPrice {
    margin-bottom: 15px;
  }

  #banner {
    white-space: nowrap;
  }
}
